body{
	background:url(../logo.jpg);
	background-repeat:no-repeat;
	background-position:50% 0; 
	background-color:black;
	

}

.container{
	background-color: #5ce4a0;
	padding 1em;

.item1{
	margin: 1em;
	padding 1em;
	color: #ffffff;
	float: left;
	}
	
	.item2{
	margin: 1em;
	padding 1em;
	color: #ffffff;
	float: right;
	}
