body{
	background:url(../logo.jpg);
	background-repeat:no-repeat;
	background-position:50% 0; 
	background-color:black;
	

}

.item{
	margin: 1em;
	padding 1em;
	color: #ffffff;
	float: left;
	}
	
	.item1{
	margin: 1em;
	padding 1em;
	color: #ffffff;
	float: right;
	}
