body{
	background:url(../logo.jpg);
	background-repeat:no-repeat;
	background-position:50% 0; 
	background-color:black;
	

}

.item1{
	margin: 10px;
	padding: 10px;
	font: #ffffff;
	float: left;
	
	}

.item2{
	margin: 10px;
	padding: 10px;
	font: #ffffff;
	float: right;
	
	}

.item3{	
	position: fixed;
	Left: 200px;
        top: 500px;
	
	}
	

